/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.muted {
    color: #bbb;
}

main {
    overflow: auto;
    padding: 32px 0;
}

.error {
    color: red;
}